/* --------------- VARIAVEIS ---------------- */
/* Fonts */
@font-face {
    font-family: "Raleway-regular";
    src: url(/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-medium";
    src: url(/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-bold";
    src: url(/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-extrabold";
    src: url(/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway-semibold";
    src: url(/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Raleway-black";
    src: url(/fonts/Raleway-Black.ttf);
}
/* Colors */

:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;  /*TODO*/
    height: 4000px;
}

.container {
    width: 100%;
    padding:o 15px;
    margin:0 auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1152px;
    }
}

header.topbar{
    background:var(--secondary);
    color:var(--pure);
    font-family: "Raleway-Semibold";
    padding:0.75rem 0;
}

header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;  
}
header.topbar .icons a{
    margin-right:0.6rem;
}

header.topbar .auth .divider{
    padding: 0 1rem;
}

header.topbar .auth > div img{
    margin-right: 0.35rem;
}

/* Class */
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow:after{
    content:'';
    display:block;
    width: 100%;
    height: 69px;
    background-image: url(/icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-22px;
    z-index: -1;
}
 .magic-shadow-sm{
    position: relative;
    background:var(--heaven);
}
.magic-shadow-sm:after{
    content:'';
    display:block;
    width:100%;
    height:69px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
    z-index:-1;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
} 
.btn{
    padding: 0.75rem;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border:1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.section-heading{
    font-family: "Raleway-bold";
    text-align:center;
    position: relative;
    margin-bottom: 4rem;
}
.section-heading:after{
    content:'';
    display:block;
    width: 100%;
    height: 30px;
    background-image: url(/icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
.text-center{
    text-align: center;
}
.slick-slide{
    margin: 0 27px;
}
.slick-list{
    margin: 0 -27px;
}
.slick-track{
    padding: 1rem 0;
}

.prev-btn{
    position:absolute;
    top:46%;
    left:-3rem;
    z-index: 1;
}
.next-btn{
    position:absolute;
    top:46%;
    right:-3rem;
    z-index: 1;
}


nav .top{
    padding:1.5rem 0;
}

nav .top .contact h5, .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}

nav .top .contact h6, .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size:0.75rem;
    color: var(--ternary);
}

nav .top .contact img, .time img{
    margin-right: 1rem;
}

nav .navbar a{
    text-decoration: none;
    color:var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition:  all .3s ease;
    -ms-transition:  all .3s ease;
    -o-transition:  all .3s ease;
}

nav .navbar a.active{
    background: var(--primary);
    color:var(--pure);

}

nav .navbar a:hover{
    background: var(--primary);
    color:var(--pure);
}

header.hero{
    height: 600px;
    background-image: url(/images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header.hero .container{
    position: relative; 
}

header.hero .welcome{
    margin-bottom: 0.25rem;
}

header.hero .welcome span{
    font-family: "Raleway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;
}

header.hero h1{
    font-family: "Raleway-extrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

header.hero h1 span{
    color: var(--primary);
}

header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}

header.hero button:first-child{
    margin-right: 0.50rem;
}

header.hero .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}

section{
    padding:4rem 0;
}

section.top-products{
   background: var(--light); 
}

section.top-products .food-slider .food-card{   
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
}
hr{
  border:1px solid --light;
  opacity: 0.8;
  margin: 1rem 0;    
}

section.top-products .food-slider .food-card h2{
    font-family: "raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}

section.top-products .food-slider .food-card .stars{
    margin-bottom: 0.5rem;
}

section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}

section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--secondary);
    background: var(--heaven);
    border: 2.5px solid var(--primary);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display:flex;
    align-items: center;
    width:50%;
    font-size:1rem;
    cursor: pointer;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}

section.top-products .food-slider .food-card button:hover{
    background:var(--primary);
    color:var(--heaven);
}

section.top-products .food-slider .food-card button img{
    background:var(--primary);
    padding:0.50rem;
    height:32px;
    margin-right:1.2rem;
}

section.top-products .slider{
    position: relative;
}

section.top-products .slider-btn{
    width: 30px;
    height:30px;
    border: none;
    background:var(--primary);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    cursor:pointer;
    outline:none;
}

section.top-products .btn-wrapper{
    margin-top: 2rem;
}


